---
pagination: 
    data: bookmarks
    size: 9
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UI Roundup</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <section class="intro">
    <h1>UI Roundup</h1>
    <p>A collection of bookmarks by <a href="https://stevebullis.com">Steve Bullis</a></p>
    </section>

    <div class="search">
        <label for="searchApp">Search</label>
        <input placeholder="search for keywords in headlines..." type="text" id="searchApp" class="search-field">
        <div id="results" class="search-results"></div>
    </div>

    {% include pagination.html %} 


    <ul class="bookmarks">
    {% for link in pagination.items %}
        {% if link.url and link.pageTitle %}
        <li>
            <h2>
                {% if link.url and link.pageTitle != "" %}
                    <a href="{{ link.url }}">{{ link.pageTitle }}</a>
                {% else %}
                    <a href="{{ link.url }}">{{ link.url }}</a>
                {% endif %}
            </h2>

            Saved on {{ link.created | date: "%b %d, %Y"  }}
            {% if link.image and link.image != "" %}
            <div>
                <img class="bookmarkImage" src="{{ link.image }}" alt="{{ link.pageTitle}}">
            </div>
            {% endif %}
            {% if link.description != "" %}
                <p>{{ link.description }}</p> 
            {% endif %}
        </li>

        {% endif %}

    {% endfor %}
    </ul>

    {% include pagination.html %}


    <script src="/js/script.js"></script>
</body>
</html>